[Desktop Entry]
Encoding=UTF-8
Name=Link to [software/SfM] main_computeStructureFromKnownPoses · Issue #262 · openMVG/openMVG
Type=Link
URL=https://github.com/openMVG/openMVG/issues/262
Icon=text-html
