[Desktop Entry]
Encoding=UTF-8
Name=Link to SFM with initialization? · Issue #412 · openMVG/openMVG
Type=Link
URL=https://github.com/openMVG/openMVG/issues/412
Icon=text-html
Name[en_US]=issue with extrinsics in json
