[Desktop Entry]
Encoding=UTF-8
Name=Link to Setting photo/camera position? · Issue #388 · openMVG/openMVG
Type=Link
URL=https://github.com/openMVG/openMVG/issues/388
Icon=text-html
