[Desktop Entry]
Encoding=UTF-8
Name=Link to OpenCV: SFM module installation
Type=Link
URL=http://docs.opencv.org/3.2.0/db/db8/tutorial_sfm_installation.html
Icon=text-html
Name[en_US]=install_instructions_2
