[Desktop Entry]
Encoding=UTF-8
Name=Link to Building OpenCV 3.0.0-beta contrib text sample application · Issue #209 · opencv/opencv_contrib · GitHub
Type=Link
URL=https://github.com/opencv/opencv_contrib/issues/209
Icon=text-html
Name[en_US]=instructions_to_build_tutorials
