[Desktop Entry]
Encoding=UTF-8
Name=Link to openMVG_main_SfMInit_ImageListing — openMVG library
Type=Link
URL=http://openmvg.readthedocs.io/en/latest/software/SfM/SfMInit_ImageListing/?highlight=sfm_data.json
Icon=text-html
Name[en_US]=SfM_imageListing
