[Desktop Entry]
Encoding=UTF-8
Name=Link to openMVG/pose3.hpp at f0889f0a0024a211a7e5ed71794ad1926e545767 · openMVG/openMVG
Type=Link
URL=https://github.com/openMVG/openMVG/blob/f0889f0a0024a211a7e5ed71794ad1926e545767/src/openMVG/geometry/pose3.hpp
Icon=text-html
Name[en_US]=pose3 file
